<!DOCTYPE html>
<html>
<head>
  <title>Band & Venue Tracker</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel='stylesheet' type='text/css' href='band.css'>
</head>
<body>
  <div class="container">
    <div class="fluid">
      <%= yield %>
    </div>
  </div>
</body>
</html>
